{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Hulu</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>log__in</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main2.css' %}">
        <!-- <link rel="stylesheet" href="login.css"> -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <nav class="sign__Up__nav">
            <div class="nav__img"><img src="https://signup.hulu.com/static/images/hulu-dark.svg" alt="" />
            </div>
            <div class="log__in">
                <a href=""><span></span></a>
            </div>
        </nav>
        <div class="account">
            <div class="form">
                <form action="#" method='post'>
                    {% csrf_token %}

                    <h1 class="logi">password reset form</h1>
                    <div class="form__text">
                        You will use this email and password to log into your accounts for all your favorite services across The Walt Disney Family of Companies, including Disney+, Hulu and ESPN+. . <a href="#"
                            style="text-decoration: none;color: #176EE1;">Learn More</a>
                    </div>
                    <div class="inputs">
                        <div>
                            <label for="">new password</label> <br>
                            <input type="password" name='new_password1'>
                            <label for="">confirm password</label> <br>
                            <input type="password" name='new_password2'>
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li> 
                                <li>Your password can’t be a commonly used password.</li> 
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                            <input class="bc-white mt-2 ml-2 loginbutton" type="submit" value="reset">
                            
                        </div>
                        
                        
                    </div>   
            
                <div class="start__for__free">
                    <p>Don't have an account?</p>
                    <p><a href=""> Start your free trial</a></p>
                </div>
        
            
        </div>
        <footer>
            <ul>
                {% comment %} <li><a href=""> <img src="images/ads.png" alt="">About Ads</a> </li> {% endcomment %}
                <li><a href="">Terms of Use</a> </li>
                <li><a href=""> Privacy Policy</a></li>
                <li> <a href="">©2023 Hulu, LLC</a></li> 
            </ul>
        </footer>
    </body>

    </html>
</body>

</html>